<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.foundation.min.css">
    <link rel="stylesheet" href="css/PageNotFound.css">
    <title>404 Not Found</title>
    
</head>
<body>

    <div class="main">
        <div class="digit1">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="digit2">4</div>
        <div class="content">
            Opps!Page Not Found<p>Seems something went wrong Let's go <a href="./home">home</a> and try from there. </p> 
        </p></div>
          </div>



    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</body>


</html>
